node-red-contrib-test/examples/open-window-with-tests.json
[
  {
    "id": "c1b88cb0.ed8a8",
    "type": "tab",
    "label": "Window w/ Generator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ce229d39.d0adc8",
    "type": "tab",
    "label": "[Test] Window w/ Generator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4dea3a04.3282f4",
    "type": "mqtt-broker",
    "z": "",
    "name": "Read Server",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "649ac858.e42348",
    "type": "mqtt-broker",
    "z": "",
    "name": "Write Server",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "43b62fbb.87f1d8",
    "type": "mqtt in",
    "z": "c1b88cb0.ed8a8",
    "name": "Thermometer",
    "topic": "/things/thermometer",
    "qos": "2",
    "datatype": "auto",
    "broker": "4dea3a04.3282f4",
    "x": 70,
    "y": 120,
    "wires": [
      [
        "2724a6c2.abfac2"
      ]
    ]
  },
  {
    "id": "d7baba46.bf3858",
    "type": "debug",
    "z": "c1b88cb0.ed8a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 700,
    "y": 120,
    "wires": []
  },
  {
    "id": "6bbab98f.48df18",
    "type": "function",
    "z": "c1b88cb0.ed8a8",
    "name": "OpenWindow if temp > 25",
    "func": "if (msg.payload.data.temperature > 25) {\n    return {\n        payload: {\n            messageType: \"requestAction\",\n            data: {\n                openWindow: {}\n            }\n        }\n    }    \n}",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 120,
    "wires": [
      [
        "d7baba46.bf3858"
      ]
    ]
  },
  {
    "id": "5a793f6c.c3b188",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 20",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "temperature": "20",
    "x": 830,
    "y": 180,
    "wires": [
      [
        "b946bce5.712568"
      ]
    ]
  },
  {
    "id": "37dbc452.c8959c",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "return !msg.payload || !msg.payload.data ||\n  !msg.payload.data.openWindow;",
    "noerr": 0,
    "x": 1330,
    "y": 180,
    "wires": [
      [
        "e84291d1.97fc"
      ]
    ]
  },
  {
    "id": "1e01f275.85a0ae",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Has Received OpenWindow",
    "flow": "c1b88cb0.ed8a8",
    "node": "d7baba46.bf3858",
    "x": 720,
    "y": 100,
    "wires": [
      [
        "5a793f6c.c3b188"
      ],
      [
        "b946bce5.712568"
      ]
    ]
  },
  {
    "id": "4f2441b8.e8397",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 30",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "temperature": "30",
    "x": 830,
    "y": 460,
    "wires": [
      [
        "ce735d1d.7cbfa"
      ]
    ]
  },
  {
    "id": "3d05282f.9894c8",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "return !!msg.payload.data && \n  !!msg.payload.data.openWindow;",
    "noerr": 0,
    "x": 1330,
    "y": 460,
    "wires": [
      [
        "ae89b6d0.153df8"
      ]
    ]
  },
  {
    "id": "4d0b8534.908fb4",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect OpenWindow to fire when temperature > 25",
    "x": 380,
    "y": 460,
    "wires": [
      [
        "9fcc2e5c.f80d58"
      ]
    ]
  },
  {
    "id": "8fe5feac.3d824",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect OpenWindow not to fire when temperature < 25",
    "x": 390,
    "y": 180,
    "wires": [
      [
        "1e01f275.85a0ae"
      ]
    ]
  },
  {
    "id": "9fcc2e5c.f80d58",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Has Received OpenWindow",
    "flow": "c1b88cb0.ed8a8",
    "node": "d7baba46.bf3858",
    "x": 720,
    "y": 520,
    "wires": [
      [
        "4f2441b8.e8397"
      ],
      [
        "ce735d1d.7cbfa"
      ]
    ]
  },
  {
    "id": "761c2d4.b37f3d4",
    "type": "test-runner",
    "z": "ce229d39.d0adc8",
    "name": "",
    "flow": "c1b88cb0.ed8a8",
    "outputs": 3,
    "x": 70,
    "y": 280,
    "wires": [
      [
        "8fe5feac.3d824"
      ],
      [
        "4a9d3ac2.deed94"
      ],
      [
        "4d0b8534.908fb4"
      ]
    ]
  },
  {
    "id": "e84291d1.97fc",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1480,
    "y": 180,
    "wires": []
  },
  {
    "id": "ae89b6d0.153df8",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1480,
    "y": 460,
    "wires": []
  },
  {
    "id": "ce735d1d.7cbfa",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1170,
    "y": 460,
    "wires": [
      [
        "3d05282f.9894c8"
      ]
    ]
  },
  {
    "id": "b946bce5.712568",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1170,
    "y": 180,
    "wires": [
      [
        "37dbc452.c8959c"
      ]
    ]
  },
  {
    "id": "2724a6c2.abfac2",
    "type": "json",
    "z": "c1b88cb0.ed8a8",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 230,
    "y": 120,
    "wires": [
      [
        "6bbab98f.48df18"
      ]
    ]
  },
  {
    "id": "31c9a2d1.05aaa6",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 25",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "temperature": "25",
    "x": 830,
    "y": 280,
    "wires": [
      [
        "b18916b3.e351d8"
      ]
    ]
  },
  {
    "id": "157e5a16.1689e6",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "return !msg.payload || !msg.payload.data ||\n  !msg.payload.data.openWindow;",
    "noerr": 0,
    "x": 1330,
    "y": 280,
    "wires": [
      [
        "e03b0357.2c3018"
      ]
    ]
  },
  {
    "id": "4a9d3ac2.deed94",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect OpenWindow not to fire when temperature = 25",
    "x": 390,
    "y": 280,
    "wires": [
      [
        "cb809446.ef47a"
      ]
    ]
  },
  {
    "id": "cb809446.ef47a",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Has Received OpenWindow",
    "flow": "c1b88cb0.ed8a8",
    "node": "d7baba46.bf3858",
    "x": 720,
    "y": 340,
    "wires": [
      [
        "31c9a2d1.05aaa6"
      ],
      [
        "b18916b3.e351d8"
      ]
    ]
  },
  {
    "id": "e03b0357.2c3018",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1480,
    "y": 280,
    "wires": []
  },
  {
    "id": "b18916b3.e351d8",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1170,
    "y": 280,
    "wires": [
      [
        "157e5a16.1689e6"
      ]
    ]
  }
]
