node-red-contrib-test/examples/open-window-with-tests.json
[
  {
    "id": "c1b88cb0.ed8a8",
    "type": "tab",
    "label": "Window w/ Generator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ce229d39.d0adc8",
    "type": "tab",
    "label": "[Test] Window w/ Generator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4dea3a04.3282f4",
    "type": "mqtt-broker",
    "z": "",
    "name": "Read Server",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "649ac858.e42348",
    "type": "mqtt-broker",
    "z": "",
    "name": "Write Server",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "43b62fbb.87f1d8",
    "type": "mqtt in",
    "z": "c1b88cb0.ed8a8",
    "name": "Thermometer",
    "topic": "/things/thermometer",
    "qos": "2",
    "datatype": "auto",
    "broker": "4dea3a04.3282f4",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "2724a6c2.abfac2"
      ]
    ]
  },
  {
    "id": "6bbab98f.48df18",
    "type": "function",
    "z": "c1b88cb0.ed8a8",
    "name": "OpenWindow if temp > 25",
    "func": "if (msg.payload.data.temperature > 25) {\n    return {\n        payload: {\n            messageType: \"requestAction\",\n            data: {\n                openWindow: {}\n            }\n        }\n    }    \n}",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 120,
    "wires": [
      [
        "52de9496.98db94"
      ]
    ]
  },
  {
    "id": "5a793f6c.c3b188",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 20",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "payload": "{\"messageType\":\"propertyStatus\",\"data\":{\"temperature\":20}}",
    "payloadType": "json",
    "x": 1130,
    "y": 180,
    "wires": [
      [
        "b946bce5.712568"
      ]
    ]
  },
  {
    "id": "37dbc452.c8959c",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "expect(msg).not.to.have.nested.property(\"payload.data.openWindow\");",
    "noerr": 0,
    "x": 1510,
    "y": 180,
    "wires": [
      [
        "e84291d1.97fc"
      ]
    ]
  },
  {
    "id": "1e01f275.85a0ae",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Window",
    "flow": "c1b88cb0.ed8a8",
    "node": "52de9496.98db94",
    "x": 950,
    "y": 100,
    "wires": [
      [
        "5a793f6c.c3b188"
      ],
      [
        "b946bce5.712568"
      ]
    ]
  },
  {
    "id": "4f2441b8.e8397",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 30",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "payload": "{\"messageType\":\"propertyStatus\",\"data\":{\"temperature\":30}}",
    "payloadType": "json",
    "x": 1130,
    "y": 460,
    "wires": [
      [
        "ce735d1d.7cbfa"
      ]
    ]
  },
  {
    "id": "3d05282f.9894c8",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "expect(msg).to.have.nested.property(\"payload.data.openWindow\");",
    "noerr": 0,
    "x": 1510,
    "y": 460,
    "wires": [
      [
        "ae89b6d0.153df8"
      ]
    ]
  },
  {
    "id": "4d0b8534.908fb4",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect window to open when temperature > 25",
    "x": 640,
    "y": 460,
    "wires": [
      [
        "9fcc2e5c.f80d58"
      ]
    ]
  },
  {
    "id": "8fe5feac.3d824",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect window not to open when temperature < 25",
    "x": 650,
    "y": 180,
    "wires": [
      [
        "1e01f275.85a0ae"
      ]
    ]
  },
  {
    "id": "9fcc2e5c.f80d58",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Window",
    "flow": "c1b88cb0.ed8a8",
    "node": "52de9496.98db94",
    "x": 950,
    "y": 520,
    "wires": [
      [
        "4f2441b8.e8397"
      ],
      [
        "ce735d1d.7cbfa"
      ]
    ]
  },
  {
    "id": "761c2d4.b37f3d4",
    "type": "test-runner",
    "z": "ce229d39.d0adc8",
    "name": "",
    "flow": "c1b88cb0.ed8a8",
    "outputs": 3,
    "x": 350,
    "y": 280,
    "wires": [
      [
        "8fe5feac.3d824"
      ],
      [
        "4a9d3ac2.deed94"
      ],
      [
        "4d0b8534.908fb4"
      ]
    ]
  },
  {
    "id": "e84291d1.97fc",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1660,
    "y": 180,
    "wires": []
  },
  {
    "id": "ae89b6d0.153df8",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1660,
    "y": 460,
    "wires": []
  },
  {
    "id": "ce735d1d.7cbfa",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1350,
    "y": 460,
    "wires": [
      [
        "3d05282f.9894c8"
      ]
    ]
  },
  {
    "id": "b946bce5.712568",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1350,
    "y": 180,
    "wires": [
      [
        "37dbc452.c8959c"
      ]
    ]
  },
  {
    "id": "2724a6c2.abfac2",
    "type": "json",
    "z": "c1b88cb0.ed8a8",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 290,
    "y": 120,
    "wires": [
      [
        "6bbab98f.48df18"
      ]
    ]
  },
  {
    "id": "31c9a2d1.05aaa6",
    "type": "mock",
    "z": "ce229d39.d0adc8",
    "name": "Send Temperature = 25",
    "flow": "c1b88cb0.ed8a8",
    "node": "43b62fbb.87f1d8",
    "payload": "{\"messageType\":\"propertyStatus\",\"data\":{\"temperature\":25}}",
    "payloadType": "json",
    "x": 1130,
    "y": 280,
    "wires": [
      [
        "b18916b3.e351d8"
      ]
    ]
  },
  {
    "id": "157e5a16.1689e6",
    "type": "assert",
    "z": "ce229d39.d0adc8",
    "name": "assert",
    "func": "expect(msg).not.to.have.nested.property(\"payload.data.openWindow\");",
    "noerr": 0,
    "x": 1510,
    "y": 280,
    "wires": [
      [
        "e03b0357.2c3018"
      ]
    ]
  },
  {
    "id": "4a9d3ac2.deed94",
    "type": "test-start",
    "z": "ce229d39.d0adc8",
    "name": "Expect window not to open when temperature = 25",
    "x": 650,
    "y": 280,
    "wires": [
      [
        "cb809446.ef47a"
      ]
    ]
  },
  {
    "id": "cb809446.ef47a",
    "type": "spy",
    "z": "ce229d39.d0adc8",
    "name": "Spy Window",
    "flow": "c1b88cb0.ed8a8",
    "node": "52de9496.98db94",
    "x": 950,
    "y": 340,
    "wires": [
      [
        "31c9a2d1.05aaa6"
      ],
      [
        "b18916b3.e351d8"
      ]
    ]
  },
  {
    "id": "e03b0357.2c3018",
    "type": "test-end",
    "z": "ce229d39.d0adc8",
    "name": "test-end",
    "x": 1660,
    "y": 280,
    "wires": []
  },
  {
    "id": "b18916b3.e351d8",
    "type": "await",
    "z": "ce229d39.d0adc8",
    "name": "await",
    "timeout": "3000",
    "x": 1350,
    "y": 280,
    "wires": [
      [
        "157e5a16.1689e6"
      ]
    ]
  },
  {
    "id": "52de9496.98db94",
    "type": "mqtt out",
    "z": "c1b88cb0.ed8a8",
    "name": "Window",
    "topic": "/things/window",
    "qos": "",
    "retain": "",
    "broker": "4dea3a04.3282f4",
    "x": 720,
    "y": 120,
    "wires": []
  },
  {
    "id": "c766ba3a.67f09",
    "type": "inject",
    "z": "ce229d39.d0adc8",
    "name": "",
    "topic": "",
    "payload": "start_tests",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 150,
    "y": 280,
    "wires": [
      [
        "761c2d4.b37f3d4"
      ]
    ]
  },
  {
    "id": "2754e671.c3b69a",
    "type": "report-generator",
    "z": "ce229d39.d0adc8",
    "name": "report-generator",
    "x": 600,
    "y": 680,
    "wires": [
      [
        "6099b3f2.cc2f8c"
      ]
    ]
  },
  {
    "id": "6099b3f2.cc2f8c",
    "type": "debug",
    "z": "ce229d39.d0adc8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 920,
    "y": 680,
    "wires": []
  }
]
