node-red-contrib-iot-sim/examples/open-window-with-generator.json
[{"id":"10bd6796.d991b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d436534f.059118","type":"mqtt in","z":"10bd6796.d991b8","name":"Thermometer","topic":"/things/thermometer","qos":"2","datatype":"auto","broker":"4dea3a04.3282f4","x":690,"y":220,"wires":[["8e9c55f8.b326"]]},{"id":"71a45cf5.74fc44","type":"debug","z":"10bd6796.d991b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":220,"wires":[]},{"id":"b95c2375.2fb55","type":"iot-sim-proxy","z":"10bd6796.d991b8","proxyConfig":"11b5e4f8.a21ec3","x":300,"y":660,"wires":[]},{"id":"ac6a7747.c3cde8","type":"generator","z":"10bd6796.d991b8","name":"generator","proxy":"11b5e4f8.a21ec3","inputConfig":"105b87ec.bba838","outputConfig":"268460c0.6bd79","x":200,"y":240,"wires":[]},{"id":"8e9c55f8.b326","type":"function","z":"10bd6796.d991b8","name":"","func":"const payload = JSON.parse(msg.payload);\nif (payload.data.temperature > 25) {\n    return {\n        payload: {\n            messageType: \"requestAction\",\n            data: {\n                openWindow: {}\n            }\n        }\n    }    \n}","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["71a45cf5.74fc44"]]},{"id":"4dea3a04.3282f4","type":"mqtt-broker","z":"","name":"Read Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11b5e4f8.a21ec3","type":"iot-sim-proxy-config","z":"","readServer":"4dea3a04.3282f4","writeServer":"649ac858.e42348"},{"id":"105b87ec.bba838","type":"generator-input","z":"","name":"Every 5 seconds","cron":"0/10 * * * * * *"},{"id":"268460c0.6bd79","type":"generator-output","z":"","name":"20 + Ticks*0.1","delay":"","href":"/things/thermometer","property":"temperature","value":"","expr":"20 + 0.1*value"},{"id":"649ac858.e42348","type":"mqtt-broker","z":"","name":"Write Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
