node-red-contrib-iot-sim/examples/open-window.json
[{"id":"57824977.c9cd78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc40b326.2600a8","type":"debug","z":"57824977.c9cd78","name":"Open Window","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":200,"wires":[]},{"id":"2ecbf900.4230e","type":"mqtt in","z":"57824977.c9cd78","name":"Thermometer","topic":"/things/thermometer","qos":"2","datatype":"auto","broker":"4dea3a04.3282f4","x":630,"y":200,"wires":[["d548d665.7e23f8"]]},{"id":"62744e17.6c717","type":"iot-sim-proxy","z":"57824977.c9cd78","proxyConfig":"11b5e4f8.a21ec3","x":690,"y":400,"wires":[]},{"id":"36d243e5.ca21d4","type":"generator","z":"57824977.c9cd78","name":"Room Temperature","proxy":"11b5e4f8.a21ec3","inputConfig":"105b87ec.bba838","outputConfig":"12c609d1.b3517e","x":290,"y":200,"wires":[]},{"id":"d548d665.7e23f8","type":"function","z":"57824977.c9cd78","name":"Open window if temp > 25","func":"if (JSON.parse(msg.payload).data.temperature > 25) {\n    return {payload: {\n        \"messageType\":\"requestAction\",\n        data: {\n            \"openWindow\": {}\n        }\n    }}\n}","outputs":1,"noerr":0,"x":900,"y":200,"wires":[["bc40b326.2600a8"]]},{"id":"4dea3a04.3282f4","type":"mqtt-broker","z":"","name":"Read Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11b5e4f8.a21ec3","type":"iot-sim-proxy-config","z":"","readServer":"4dea3a04.3282f4","writeServer":"649ac858.e42348"},{"id":"105b87ec.bba838","type":"generator-input","z":"","name":"Every 5 seconds","cron":"0/10 * * * * * *"},{"id":"12c609d1.b3517e","type":"generator-output","z":"","name":"Output 22","delay":"0","href":"/things/thermometer","property":"temperature","value":"26"},{"id":"649ac858.e42348","type":"mqtt-broker","z":"","name":"Write Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
